
.todo-input::placeholder {
    font-size: 15px;
}

.todo-input {
    width: 450px;
    padding: 10px 30px;
    border: none;
    background: none;
    outline: none;
    color: var(--notes-text-color);
}

.todo-form{
    border: 4px solid;
    border-color: var(--todo-form-border-color);
    border-radius: 20px;
    margin-top: 30px;
    gap: 130px;
}