

.main-task {
    width: 650px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-task-background-color); 
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px;
}

.main-task__text {
    font-size: 18px;
    color: #fff;
}

