
.todo-button {
    padding: 10px 20px;
    background-color: var(--todo-button-background-color);
    border: 4px solid var(--todo-button-border-color);
    border-radius: 0 7px 7px 0;
    color: var(--todo-button-color);
    cursor: pointer;
}